<div class="row well well-sm no-horizontal-border">
  <div class="btn-toolbar">
    <button type="button" class="btn btn-default" ng-click="$ctrl.onRefresh()">
      <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Refresh
    </button>
    <button type="button" class="btn btn-primary" ng-click="$ctrl.onCreate()">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create New
    </button>
  </div>
</div>

<table class="table table-striped table-hover">
  <tr ng-repeat="contact in $ctrl.contacts" ng-click="$ctrl.onSelect({contact:contact})">
    <td>
      <img class="img-circle" alt="avatar" ng-src="{{contact.avatarUrl}}"
             style="width: 32px; height: 32px;">
    </td>
    <td><span class="bold">{{contact.name}}</span></td>
    <td>{{contact.email}}</td>
    <td>{{contact.phone}}</td>
    <td>{{contact.company}}</td>
    <td>
      <button type="button" class="btn btn-default" ng-click="$ctrl.remove(contact, $index)">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </button>
    </td>
  </tr>
</table>