<contacts-sidebar class="col-sm-3 col-md-2 sidebar no-padding" contacts="$ctrl.contacts"></contacts-sidebar>

<contact-list class="col-sm-9 col-md-10 no-padding"
              ng-if="!$ctrl.creating"
              contacts="$ctrl.contacts"
              on-create="$ctrl.startCreating()"
              on-select="$ctrl.selectContact(contact)"
              on-refresh="$ctrl.refresh()"></contact-list>

<contact-editor class="col-sm-9 col-md-10 no-padding"
                ng-if="$ctrl.creating"
                on-submit="$ctrl.create(contact)"
                on-cancel="$ctrl.cancelCreating()"></contact-editor>
